{% extends "./layout.html" %}
{% block content %}
<h1>Mail List</h1>
    <div class="row">
      <div class="col-3">
        <div class="list-group">
          <a href="{% url 'client-inbox' client_id %}" class="list-group-item list-group-item-action active">

           Inbox {% if request.resolver_match.view_name == 'client-inbox' %} active{% endif %}
          </a>
          <a href="{% url 'client-sentitems' client_id %}" class="list-group-item list-group-item-action">Sent Items</a>
          <a href="{% url 'client-drafts' client_id %}" class="list-group-item list-group-item-action">Draft</a>
          <a href="{% url 'client-trash' client_id %}" class="list-group-item list-group-item-action">Deleted Items</a>
        </div>
      </div>
      <div class="col-9">
        <div class="well">
        		{{mail_content}}
              </div>

      </div>
    </div>

      

{% endblock %}