{% extends "./layout1.html" %}


{% block mailsection %}
        <div class="row">
          <div class="col bg-secondary" style="padding:2%;max-height:hv;overflow-y:scroll;overflow-x:wrap;">
            <div class="panel panel-default">
             <div class="panel-heading bg-secondary text-white" style="padding:0% 1% 1% 3%;"><h3>{{mail.subject|safe}}</h3>
              <br><small>{{mail.receivedDateTIme}}</small></div>
  <div class="panel-body bg-white"  style="padding:2%;">{{mail_body.content|safe}}</div>
</div>
           
          </div>
            
              </div>

{% endblock %}